*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black; 
    font-family: "Work Sans", sans-serif;
    scrollbar-width: none;
    background-color: rgb(252, 252, 252);
}

@tailwind base;
@tailwind components;
@tailwind utilities;


